<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Himasi Universitas Jambi - Tentang Kami</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <a href="index.html"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto active" href="tentang-kami.html">Tentang Kami</a></li>
          <li class="dropdown"><a href="#" ><span>Struktur</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="BPH.html">Badan pengurus Harian</a></li>
              <li><a href="danus.html">Dana Usaha</a></li>
              <li><a href="humas.html">Hubungan Masyarakat</a></li>
              <li><a href="mediasi.html">Media dan Informasi</a></li>
              <li><a href="mdb.html">Minat dan Bakat</a></li>
              <li><a href="psda.html">Pengembangan Sumber Daya Anggota</a></li>
              <li><a href="ristek.html">Riset dan Teknologi</a></li>
              <li><a href="sosgam.html">Sosial dan Keagamaan</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">Berita</a></li>
          <li><a class="nav-link scrollto" href="#">Galeri</a></li>
          <li><a class="nav-link scrollto" href="#">Shop</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- Your main content goes here -->

    <!-- ======= About Us Section ======= -->
    <section class="structure">
      <div class="container" data-aos="fade-up">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Tentang Himasi</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/logo.png" class="img-fluid rounded-4 mb-4" alt="">
            <h3>Visi</h3>
            <p>Mengembangkan Sumber Daya Manusia yang Beriman dan Bertakwa kepada Tuhan Yang Maha ESA dan Berbudi Pekerti Luhur, Memiliki Pengetahuan dan Keterampilan, Kesehatan Jasmani dan Rohani yang Mantap dan Mandiri serta Rasa Tanggung Jawab Kemasyarakatan dan Kebangsaan.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                <h3>Misi</h3>
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Membangun Organisasi Program Studi yang Berorientasi Akademik dengan atas a/Pengembangan Softskill yang Optimal.</li>
                <li><i class="bi bi-check-circle-fill"></i> Membangun Organisasi Program Studi dengan Dilatar Belakangi oleh Pola Pengkaderan yang Jelas dan Berkesinambungan.</li>
                <li><i class="bi bi-check-circle-fill"></i> Memberikan Pelayanan Kemahasiswaaan yang Baik.</li>
                <li><i class="bi bi-check-circle-fill"></i> Mengadakan Pelatihan-pelatihan Keteknologian untuk Membentuk Mahasiswa Program Studi yang Berkualitas.</li>
                <li><i class="bi bi-check-circle-fill"></i> Membangun Hubungan dan Kerjasama yang Baik dengan Pihak Birokrasi.</li>
                <li><i class="bi bi-check-circle-fill"></i> Memperkenalkan Sistem Informasi ke Masyarakat Luas..</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </section><!-- End About Us Section -->

    <!-- Other sections of your main content -->

</main>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <img src="assets/img/logo.png" alt="logo himasi" class="footer-image" data-aos="zoom-in">
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Terkait Himasi</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://unja.ac.id">Universitas Jambi Website</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://fst.unja.ac.id">Fakultas Sains dan Teknologi Website</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Divisi Himasi</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i>Badan Pengurus Harian</li>
              <li><i class="bx bx-chevron-right"></i>Dana Usaha</li>
              <li><i class="bx bx-chevron-right"></i>Hubungan Masyarakat</li>
              <li><i class="bx bx-chevron-right"></i>Media dan Informasi</li>
              <li><i class="bx bx-chevron-right"></i>Minat dan Bakat</li>
              <li><i class="bx bx-chevron-right"></i>Pengembangan Sumber Daya Anggota</li>
              <li><i class="bx bx-chevron-right"></i>Riset dan Teknologi</li>
              <li><i class="bx bx-chevron-right"></i>Sosial dan Agama</li>
            </ul>
          </div>

          <!--<div class="col-lg-4 col-md-6 footer-newsletter">

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; <strong><span>2024 Himpunan Sistem Informasi by: Divisi Ristek</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
</html>