<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - Squadfree Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/style-artikel.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Squadfree
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <a href="index.html"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="tentang-kami.html">Tentang Kami</a></li>
          <li class="dropdown"><a href="#" class="active"><span>Struktur</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="BPH.html">Badan pengurus Harian</a></li>
              <li><a href="danus.html">Dana Usaha</a></li>
              <li><a href="humas.html">Hubungan Masyarakat</a></li>
              <li><a href="mediasi.html">Media dan Informasi</a></li>
              <li><a href="mdb.html">Minat dan Bakat</a></li>
              <li><a href="psda.html">Pengembangan Sumber Daya Anggota</a></li>
              <li><a href="ristek.html">Riset dan Teknologi</a></li>
              <li><a href="sosgam.html">Sosial dan Keagamaan</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">Berita</a></li>
          <li><a class="nav-link scrollto" href="#">Galeri</a></li>
          <li><a class="nav-link scrollto" href="#">Shop</a></li>
          <li><a class="nav-link scrollto" href="#">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
              <h2>Artikel</h2>
            </div>
            <div class="col-lg-8 entries">
              
              <article class="entry entry-single">
                <div class="entry-img">
                  <img src="../assets/img/rabdi.JPG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="blog-single.html">HIMASI APRESIASI PENCAPAIAN PENCAPAIAN MAHASISWA SISTEM INFORMASI DI BERBAGAI BIDANG</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">RISTEK HIMASI</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-at"></i>HIMASI Apresiasi</li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                    Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
                  </p>
  
                  <p>
                    Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
                  </p>
  
                  <blockquote>
                    <p>
                      Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                    </p>
                  </blockquote>
  
                  <p>
                    Sed quo laboriosam qui architecto. Occaecati repellendus omnis dicta inventore tempore provident voluptas mollitia aliquid. Id repellendus quia. Asperiores nihil magni dicta est suscipit perspiciatis. Voluptate ex rerum assumenda dolores nihil quaerat.
                    Dolor porro tempora et quibusdam voluptas. Beatae aut at ad qui tempore corrupti velit quisquam rerum. Omnis dolorum exercitationem harum qui qui blanditiis neque.
                    Iusto autem itaque. Repudiandae hic quae aspernatur ea neque qui. Architecto voluptatem magni. Vel magnam quod et tempora deleniti error rerum nihil tempora.
                  </p>
  
                  <h3>Et quae iure vel ut odit alias.</h3>
                  <p>
                    Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                    Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                    Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
                  </p>
                  <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">
  
                  <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
                  <p>
                    Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In assumenda quia quae a id praesentium. Quos deleniti libero sed occaecati aut porro autem. Consectetur sed excepturi sint non placeat quia repellat incidunt labore. Autem facilis hic dolorum dolores vel.
                    Consectetur quasi id et optio praesentium aut asperiores eaque aut. Explicabo omnis quibusdam esse. Ex libero illum iusto totam et ut aut blanditiis. Veritatis numquam ut illum ut a quam vitae.
                  </p>
                  <p>
                    Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.
                  </p>
  
                </div>
  
                <div class="entry-footer">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">Business</a></li>
                  </ul>
  
                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Marketing</a></li>
                  </ul>
                </div>
  
              </article><!-- End blog entry -->
              </div>
              <div class="col-lg-4">

                <div class="sidebar">
        
                  <h3 class="sidebar-title">Categories</h3>
                  <div class="sidebar-item categories">
                    <ul>
                      <!-- KATEGORI -->
                      <li><a href="#">Berita <span>(25)</span></a></li>
                      <li><a href="#">Himasi Apresiasi <span>(12)</span></a></li>
                      <li><a href="#">Kampus Merdeka <span>(5)</span></a></li>
                      <li><a href="#">Event HIMASI <span>(22)</span></a></li>
                      <!-- END KATEGORI -->
                    </ul>
                  </div><!-- End sidebar categories-->
        
                  <h3 class="sidebar-title">Recent Posts</h3>
                  <div class="sidebar-item recent-posts">
                    <div class="post-item clearfix">
                      <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                      <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                      <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>
        
                    <div class="post-item clearfix">
                      <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                      <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                      <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>
        
                    <div class="post-item clearfix">
                      <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                      <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                      <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>
        
                    <div class="post-item clearfix">
                      <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                      <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                      <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>
        
                    <div class="post-item clearfix">
                      <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                      <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                      <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>
        
                  </div><!-- End sidebar recent posts-->
                </div><!-- End sidebar -->
              </div><!-- End blog sidebar -->
            </div>
        </div>
      </section>

    <section class="inner-page">

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <img src="../assets/img/logo.png" alt="logo himasi" class="footer-image" data-aos="zoom-in">
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Terkait Himasi</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="https://unja.ac.id">Universitas Jambi Website</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://fst.unja.ac.id">Fakultas Sains dan Teknologi Website</a></li>
              </ul>
            </div>
  
            <div class="col-lg-6 col-md-6 footer-links">
              <h4>Divisi Himasi</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i>Badan Pengurus Harian</li>
                <li><i class="bx bx-chevron-right"></i>Dana Usaha</li>
                <li><i class="bx bx-chevron-right"></i>Hubungan Masyarakat</li>
                <li><i class="bx bx-chevron-right"></i>Media dan Informasi</li>
                <li><i class="bx bx-chevron-right"></i>Minat dan Bakat</li>
                <li><i class="bx bx-chevron-right"></i>Pengembangan Sumber Daya Anggota</li>
                <li><i class="bx bx-chevron-right"></i>Riset dan Teknologi</li>
                <li><i class="bx bx-chevron-right"></i>Sosial dan Agama</li>
              </ul>
            </div>
  
            <!--<div class="col-lg-4 col-md-6 footer-newsletter">
  
            </div> -->
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; <strong><span>2024 Himpunan Sistem Informasi by: Divisi Ristek</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
  
  </body>
  
  </html>